root = true

[*.{cs,cake}]
indent_size = 4
trim_trailing_whitespace = true

[*]
indent_style = space
charset = utf-8
insert_final_newline = true

csharp_style_var_when_type_is_apparent = true:suggestion
csharp_indent_block_contents = true
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = false
csharp_indent_switch_labels = true
dotnet_sort_system_directives_first = true
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion

# The first matching rule wins, more specific rules at the top
# dotnet_naming_rule.*.symbols does not yet support a comma-separated list https://github.com/dotnet/roslyn/issues/20891
# dotnet_naming_symbols.*.applicable_kinds does not yet support namespace, type_parameter or local https://github.com/dotnet/roslyn/issues/18121

dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_symbols.namespaces_types_and_non_field_members.applicable_kinds = namespace, class, struct, enum, interface, delegate, type_parameter, method, property, event
dotnet_naming_rule.namespaces_types_and_non_field_members.severity = error
dotnet_naming_rule.namespaces_types_and_non_field_members.symbols = namespaces_types_and_non_field_members
dotnet_naming_rule.namespaces_types_and_non_field_members.style = pascal_case

dotnet_naming_symbols.non_private_fields.applicable_kinds = field
dotnet_naming_symbols.non_private_fields.applicable_accessibilities = public, protected, protected_internal, internal
dotnet_naming_rule.non_private_fields.severity = error
dotnet_naming_rule.non_private_fields.symbols = non_private_fields
dotnet_naming_rule.non_private_fields.style = pascal_case

dotnet_naming_symbols.static_readonly_fields.applicable_kinds = field
dotnet_naming_symbols.static_readonly_fields.required_modifiers = static, readonly
dotnet_naming_rule.static_readonly_fields.severity = error
dotnet_naming_rule.static_readonly_fields.symbols = static_readonly_fields
dotnet_naming_rule.static_readonly_fields.style = pascal_case

dotnet_naming_symbols.constant_fields.applicable_kinds = field
dotnet_naming_symbols.constant_fields.required_modifiers = const
dotnet_naming_rule.constant_fields.severity = error
dotnet_naming_rule.constant_fields.symbols = constant_fields
dotnet_naming_rule.constant_fields.style = pascal_case

dotnet_naming_style.camel_case.capitalization = camel_case

dotnet_naming_symbols.other_fields_parameters_and_locals.applicable_kinds = field, parameter, local
dotnet_naming_rule.other_fields_parameters_and_locals.severity = error
dotnet_naming_rule.other_fields_parameters_and_locals.symbols = other_fields_parameters_and_locals
dotnet_naming_rule.other_fields_parameters_and_locals.style = camel_case

dotnet_naming_style.interfaces.capitalization = pascal_case
dotnet_naming_style.interfaces.required_prefix = I
dotnet_naming_symbols.interfaces.applicable_kinds = interface
dotnet_naming_rule.interfaces.severity = error
dotnet_naming_rule.interfaces.symbols = interfaces
dotnet_naming_rule.interfaces.style = interfaces
